@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Mono:wght@200&display=swap");
body {
  background-color: #f5f5f4;
  margin: 0 auto;
  width: 800px;
  border: 5px solid #e4e4e433;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  padding: 20px 10px;
}

h1 {
  font-size: 50px;
  color: #5fbdca;
  font-family: "Rubik", sans-serif;
  margin: 10px 0;
  text-transform: uppercase;
  word-spacing: 8px;
  letter-spacing: 3px;
}

h2 {
  font-size: 30px;
  font-family: "Rubik", sans-serif;
  color: #5fbdca;
  font-weight: lighter;
  margin: 10px 0;
  text-transform: uppercase;
  word-spacing: 6px;
  letter-spacing: 2px;
}

.info {
  background-color: #5fbdca;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.info h3 {
  color: aliceblue;
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.info p {
  color: aliceblue;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  word-spacing: 4px;
  line-height: 30px;
}

.info img {
  width: 225px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-top: -100px;
}

.info2 {
  width: 30%;
  margin-left: 10px;
}

.info1 {
  width: 70%;
}

.icons {
  background-color: #5fbdca;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.box {
  width: 33.3%;
  text-align: justify;
}

.box li {
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 18px;
  color: aliceblue;
  font-family: "Rubik", sans-serif;
  list-style-type: none;
}

.content {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.left {
  width: 55%;
  padding-right: 20px;
}

.right {
  width: 45%;
  padding-left: 20px;
  padding-right: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.left1 {
  width: 60%;
}

.right1 {
  width: 40%;
  text-align: right;
}

.left2 {
  width: 50%;
}

.right2 {
  width: 50%;
}

.content h3 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 5px solid #424242d5;
  color: #424242d5;
}

.content p {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  word-spacing: 4px;
  line-height: 25px;
  color: #6d6d6dd2;
}

.content li {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  word-spacing: 4px;
  line-height: 22px;
  color: #6d6d6dd2;
  margin: 8px 0;
}

.header p {
  font-weight: bolder;
  color: #5a5959e0;
  font-size: 18px;
}

.header li {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  word-spacing: 4px;
  line-height: 22px;
  color: #6d6d6dd2;
  margin: 8px 20px;
}
.content i {
  font-weight: bold;
}

.block {
  margin-bottom: 50px;
}

.blockpart {
  margin-bottom: 30px;
}
